<div class='row col s12'>
	<h4>User Details</h4>
	<hr>
	<div class='row col s12'>
	<h5 class='center'>Current User Details</h5>
	<div class="row">
		<span>User's ID: {{id}}</span>
	</div>
	<div class="row">
		<span>User's Username: {{username}}</span>
	</div>
	<div class="row">
		<span>User's Firstname: {{firstname}}</span>
	</div>
	<div class="row">
		<span>User's Lastname: {{lastname}}</span>
	</div>
	<div class="row">
		<span>User's Email: {{email}}</span>
	</div>
	<div class="row">
		<span>User Good Standing? {{good_standing}}</span>
	</div>
	<div class="row">
		<span>User Is Admin? {{is_admin}}</span>
	</div>
	<div class="row">
		<span>User Bio: {{bio}}</span>
	</div>
	</div>
	<hr>
	<h5 class='center'>Update User Details</h5>
	<div class='row'>
      <div class="form-group">
        <label for="power">Set Admin Status:</label>
        <select class="form-control" id="power"
                required
                [(ngModel)]="set_admin" name="power" 
                #power="ngModel" style='display:block !important'>
          <option *ngFor="let p of powers" [selected]="is_admin" [value]="p">{{p}}</option>
        </select>
      </div>
    </div>
	<div class="row">
	   <button class="waves-effect waves-light btn" [routerLink]="['/admin','users']">Go Back</button>
      <button class="waves-effect waves-light btn" (tap)="updateInfo()">Update User</button>
	</div>
</div>
