<div *ngIf='success' class="card-panel center-align new-green">
	<em style='color:white'>Successfully revoked partners status.</em>
</div>
<div *ngIf='nouser' class="card-panel center-align red darken-1">
	<em style='color:white'>Could not update the user, please try again.</em>
</div>
<div *ngIf='nouserfind' class="card-panel center-align red darken-1">
	<em style='color:white'>Could not find that user, please try again.</em>
</div>
<h4>Partners list</h4>
<hr>
<div class='row col s12'>
	<div class='col s1'>
		Id
	</div>
	<div class='col s2'>
		Company Name
	</div>
	<div class='col s2'>
		Email
	</div>
	<div class='col s1'>
		Contact's Name
	</div>
	<div class='col s1'>
		Contact's Number
	</div>
	<div class='col s3'>
		Message
	</div>
	<div class='col s1'>
		Read?
	</div>
	<div class='col s1'>
		Actions
	</div>
</div>
<div class='row col s12'>
	<div *ngFor="let partner of partners; let i = index" id="partner-{{partner.id}}" style="overflow:hidden">
		<div class='col s1'>
			{{partner.id}}
		</div>
		<div class='col s2'>
			{{partner.name}}
		</div>
		<div class='col s2'>
			{{partner.email}}
		</div>
		<div class='col s1'>
			{{partner.contact_name}}
		</div>
		<div class='col s1' style="overflow:hidden">
			{{partner.phone}}
		</div>
		<div class='col s3' id="good-standing-text-{{partner.id}}" style="overflow:hidden">
			{{partner.information}}
		</div>
		<div class='col s1'>
			{{partner.read}}
		</div>
		<div class='col s1'>
			<a [routerLink]="['/admin','partners',partner.id]" style='cursor:pointer'>Read</a>
		</div>
	</div>
</div>