
<!--  			USER AUTH						-->
<div id='messages-loggedout' class="messages card-panel center-align light-blue darken-1">
	<em style='color:white'>Successfully Logged Out.</em>
</div>
<div id='messages-loggedin' class="messages card-panel center-align light-blue darken-1">
	<em style='color:white' [innerHTML]="getLoggedIn()"></em>
</div>
<div id='messages-registered' class="messages card-panel center-align new-green">
	<em style='color:white' [innerHTML]="getRegistered()"></em>
</div>
<div id='messages-unathorized' class="messages card-panel center-align red darken-1">
	<em style='color:white'>You don't have authorization to access that.</em>
</div>
<div id='messages-need-info' class="messages card-panel center-align red darken-1">
	<em style='color:white'>All of your information is required.</em>
</div>
<div id='messages-verified-email' class="messages card-panel center-align new-green">
	<em style='color:white'>Email Successfully Verified.</em>
</div>
<div id='messages-failed-email-verify' class="messages card-panel center-align red darken-1">
	<em style='color:white'>Failed To Verify Email. Please Try Again.</em>
</div>
<div id='messages-reset-password' class="messages card-panel center-align light-blue darken-1">
	<em style='color:white'>Successfully Reset Password.</em>
</div>
<div id='messages-unsuccessful-reset' class="messages card-panel center-align red darken-1">
	<em style='color:white'>Failed To Reset Password.</em>
</div>
<div id='messages-session-end' class="messages card-panel center-align red darken-1">
	<em style='color:white'>Your session has been ended. Please log back in.</em>
</div>
<!-- 			CREATION 					    -->

<div id='messages-song' class="messages card-panel center-align new-green">
	<em style='color:white'>Successfully Submitted Song.</em>
</div>
<div id='messages-edit-song' class="messages card-panel center-align new-green">
	<em style='color:white'>Successfully Editted Song.</em>
</div>
<div id='messages-delete-song' class="messages card-panel center-align new-green">
	<em style='color:white'>Successfully Deleted Song.</em>
</div>
<div id='messages-video' class="messages card-panel center-align new-green">
	<em style='color:white'>Successfully Submitted Video.</em>
</div>
<div id='messages-edit-video' class="messages card-panel center-align new-green">
	<em style='color:white'>Successfully Editted Video.</em>
</div>
<div id='messages-delete-video' class="messages card-panel center-align new-green">
	<em style='color:white'>Successfully Deleted Video.</em>
</div>
<div id='messages-post' class="messages card-panel center-align new-green">
	<em style='color:white'>Successfully Submitted Post.</em>
</div>
<div id='messages-edit-post' class="messages card-panel center-align new-green">
	<em style='color:white'>Successfully Editted Post.</em>
</div>
<div id='messages-delete-post' class="messages card-panel center-align new-green">
	<em style='color:white'>Successfully Deleted Post.</em>
</div>
<div id='messages-profile-info' class="messages card-panel center-align new-green">
	<em style='color:white'>Successfully Updated Info.</em>
</div>
<div id='messages-profile-bio' class="messages card-panel center-align new-green">
	<em style='color:white'>Successfully Updated The Bio.</em>
</div>
<div id='messages-locked' class="messages card-panel center-align yellow">
      <em style='color:#898143'>This user has been reserved, please fill out the contact form to claim ownership.</em>
</div>
<div id='messages-unsupported' class="messages card-panel center-align red darken-1">
	<em style='color:white'>Unsupported Media Type.</em>
</div>
<div id='messages-tracking' class="messages card-panel center-align new-green">
	<em style='color:white'>Successfully Updated Sale Tracking Information.</em>
</div>
<div id='messages-update-votes' class="messages card-panel center-align new-green">
	<em style='color:white'>Successfully Updated Votes.</em>
</div>
<div id='messages-submitted-apparel' class="messages card-panel center-align new-green">
	<em style='color:white'>Successfully Submitted Apparel.</em>
</div>
<div id='messages-updated-apparel' class="messages card-panel center-align new-green">
	<em style='color:white'>Successfully Updated Apparel.</em>
</div>
<div id='messages-submitted-technology' class="messages card-panel center-align new-green">
	<em style='color:white'>Successfully Submitted Technology.</em>
</div>
<div id='messages-updated-technology' class="messages card-panel center-align new-green">
	<em style='color:white'>Successfully Updated Technology.</em>
</div>
<!-- 			404's 						    -->

<div id='messages-no-song' class="messages card-panel center-align red darken-1">
	<em style='color:white'>There is no song, in this genre, by that name.</em>
</div>
<div id='messages-no-post' class="messages card-panel center-align red darken-1">
	<em style='color:white'>There is no post, in this category, by that name.</em>
</div>
<div id='messages-no-video' class="messages card-panel center-align red darken-1">
	<em style='color:white'>There is no video, in this category, by that name.</em>
</div>
<div id='messages-no-apparel' class="messages card-panel center-align red darken-1">
	<em style='color:white'>There is no apparel, in this category, by that name.</em>
</div>
<div id='messages-no-technology' class="messages card-panel center-align red darken-1">
	<em style='color:white'>There is no technology, in this category, by that name.</em>
</div>
<div id='messages-no-user' class="messages card-panel center-align red darken-1">
	<em style='color:white'>No user by that name was found</em>
</div>
<div id='messages-removed-post' class="messages card-panel center-align red darken-1">
	<em style='color:white'>This Post Has Been Removed</em>
</div>
<!-- 			CONTACT							-->
<div id='messages-contact' class="messages card-panel center-align new-green">
	<em style='color:white'>Successfully submitted message.</em>
</div>
<div id='messages-partner' class="messages card-panel center-align new-green">
	<em style='color:white'>Successfully sumitted. We look forward to working with you.</em>
</div>