<h1 class='col m12 music-container'>Edit Song</h1>
<div class="row">


     <div *ngIf="type != null" class='col s12'>
      <div class="row" *ngIf="type === 0">
        <form [formGroup]="uploadLink" (ngSubmit)="submitMusic(uploadLink.value)" class="col s12">
        <h3 class='form-headers'>Link To Song (will embed)</h3>
        	<div class="row">
            <div class="input-field col s12 m6">
              <input [ngClass]="{ 'has-error-input' : uploadLink.controls.title.errors?.required && uploadLink.controls.title.touched}" [formControl]="uploadLink.controls['title']" id="title" type="text" class="validate song-title">
              <label for="title" id='song-title'>Title</label>
              <em *ngIf="uploadLink.controls.title.errors?.required && uploadLink.controls.title.touched" class='has-error'> A title is required </em>
            </div>
            <div class="input-field col s12 m6">
              <input [ngClass]="{ 'has-error-input' : uploadLink.controls.artist.errors?.required && uploadLink.controls.artist.touched}" [formControl]="uploadLink.controls['artist']" id="artist" type="text" class="validate">
              <label for="artist" id='song-artist'>Artist</label>
              <em *ngIf="uploadLink.controls.artist.errors?.required && uploadLink.controls.artist.touched" class='has-error'> An artist name is required </em>
            </div>
          </div>
          <div class="row">
            <div class='select-field col s12 m6'>
              <div class="form-group">
                <label for="power">Genre</label>
                <!-- <select class="form-control" [ngClass]="{ 'has-error-select' : uploadLink.controls.genre.errors?.required && uploadLink.controls.genre.touched}" id="power" required [formControl]="uploadLink.controls['genre']" class='validate' name="power" style='display:block !important'>
                  <option *ngFor="let p of powers" [value]="p">{{p}}</option>
                </select> -->
                <input class="form-control" [ngClass]="{ 'has-error-select' : uploadLink.controls.genre.errors?.required && uploadLink.controls.genre.touched}" id="genre" required [formControl]="uploadLink.controls['genre']" class='validate selectize-select' name="power" style='display:block !important'>
                <span class='main-category' for="Genre" id='song-link2'>Main Genre: {{mainGenre}}</span>
                <em *ngIf="uploadLink.controls.genre.errors?.required && uploadLink.controls.genre.touched" class='has-error'> A genre is required </em>
              </div>
            </div>
            <div class="input-field col s12 m6">
                <input [ngClass]="{ 'has-error-input' : unsupported || ((uploadLink.controls.link.errors?.required || uploadLink.controls.link.errors?.required  )&& uploadLink.controls.link.touched) }" [formControl]="uploadLink.controls['link']" id="link" type="text" class="validate form-link">
                <label for="link" id='song-link' class='form-link-label'>link</label>
                <em *ngIf="uploadLink.controls.link.errors?.required && uploadLink.controls.link.touched" class='has-error'> A link is required </em>
                <em *ngIf="unsupported" class='has-error'> Unsupported media type </em>
            </div>
          </div>
          <div class='row'>
            <div class='text-box col s12'>
              <label for='link' id='song-description'>Description</label>
              <textarea [formControl]="uploadLink.controls['description']" id='description-link' class="validate discription-box" type='text' data-type='link'></textarea>
              <a style='font-size:0.9em' class='btn formatting-button' id='formatting-guide-link' style='color:black !important' data-type='link'>Formatting Guide</a>
              <div id='add-formatting-guide-link' data-open='false'>
              </div>
            </div>
          </div>
        </form>
        <div id='output-container-link' style='display:none; border: 1px solid rgba(0,0,0,0.1)'>
          <h5>Output:</h5>
          <div id='post-output-link'>
          </div>
        </div>
        <div class="row">
          <div class="center-align">
            <button type="submit" class="waves-effect waves-light btn" (tap)="cancelEdit()">Cancel</button>
            <button type="submit" id='submit-edit' [disabled]='!uploadLink.valid || !mainGenre || insubmit' class="waves-effect waves-light btn" (tap)="submitEdit(uploadLink.value,'edit')">Submit Edit</button>
              <svg class="spinner-circle" id='submit-music-edit-link' viewBox="0 0 50 50">
              <circle class="path" cx="25" cy="25" r="20" fill="none" stroke-width="5"></circle>
            </svg>
          </div>
        </div>
      </div>

      <div class='song-upload-form' *ngIf="type === 1" class='col s12'>
        <form [formGroup]="uploadSong" (ngSubmit)="submitMusic(uploadSong.value)" class="col s12">
          <div class='music-form-progress-bar' id="progress">
            <div class="bar" style="width: 0%;"></div>
          </div>
            <div class="row">
              <div class='col s12 m6'>
                <div class="input-field col s12">
                  <input [ngClass]="{ 'has-error-input' : uploadSong.controls.title.errors?.required && uploadSong.controls.title.touched}" [formControl]="uploadSong.controls['title']" id="title" type="text" class="validate song-title">
                  <label for="title" id='song-title'>Title</label>
                  <em *ngIf="uploadSong.controls.title.errors?.required && uploadSong.controls.title.touched" class='has-error'> A title is required </em>
                </div>
                <div class="input-field col s12">
                  <input [ngClass]="{ 'has-error-input' : uploadSong.controls.artist.errors?.required && uploadSong.controls.artist.touched}" [formControl]="uploadSong.controls['artist']" id="artist" type="text" class="validate">
                  <label for="artist" id='song-artist'>Artist</label>
                  <em *ngIf="uploadSong.controls.artist.errors?.required && uploadSong.controls.artist.touched" class='has-error'> An artist name is required </em>
                </div>
                <div class='select-field col s12'>
                  <div class="form-group">
                    <label for="power">Genre</label>
                    <input class="form-control" [ngClass]="{ 'has-error-select' : uploadSong.controls.genre.errors?.required && uploadSong.controls.genre.touched}" id="genre" required [formControl]="uploadSong.controls['genre']" class='validate selectize-select' name="power" style='display:block !important'>
                    <span class='main-category' for="Genre" id='song-link2'>Main Genre: {{mainGenre}}</span>
                    <em *ngIf="uploadSong.controls.genre.errors?.required && uploadSong.controls.genre.touched" class='has-error'> A genre is required </em>
                  </div>
                </div>
              </div>
              <div class='col s12 m6'>
                <div class='photo-container'>
                  <div class='progress-container photo-progress-container' id='progress-photo-container' style='visibility:hidden'>
                    <div class='progress-bar' id="progress-photo">
                      <div class='inner-progress-bar' id='inner-progress-photo'></div>
                    </div>
                    <span class='progress-text-container'><span id='progress-text-photo'>0</span>/100</span>
                  </div>
                  <div class='photo-upload'>
                    <input type='file' name='file' accept="image/*" id='photo-upload' class='inputfile'/>
                    <label for="photo-upload" class='btn photo-upload-button active'><i class='fa fa-camera' aria-hidden="true"></i> Upload Artwork</label>
                  </div>
                  <div class="thumbnail">
                    <img [src]="this.image ? this.image : picture | safeurl" alt="{{title}} - {{artist}}" height="100%" width="100%"/>
                  </div>
                </div>
              </div>
            </div>
            <div class='row'>
              <div class="input-field col s12 m4">   
                    <span>Enable Download?</span>
                    <div>
                        <p style='display:inline-block;margin-left:-15px'>
                            <input class="with-gap has-download" type="radio" [formControl]="uploadSong.controls['download_type']" name="download_type" id="download-no" [value]="0">
                            <label for="download-no">No</label>
                        </p>
                        <p style='display:inline-block;margin-left:20px'>
                            <input class="with-gap has-download" type="radio" [formControl]="uploadSong.controls['download_type']" name="download_type" id="download-yes" [value]="1">
                            <label for="download-yes">Yes</label>
                        </p>
                        <p style='display:inline-block;margin-left:20px'>
                            <input class="with-gap has-download" type="radio" [formControl]="uploadSong.controls['download_type']" name="download_type" id="download-yes-url" [value]="2">
                            <label for="download-yes-url">Yes With URL</label>
                        </p>
                    </div>
                </div>
                <div class="input-field col s12 m4">
                    <input autocomplete="off" [formControl]="uploadSong.controls['download_text']" id="download_text" type="text" class="validate form-link">
                    <label for="download_text" id='download_text_label' class='form-link-label'>Download Text</label>
                    <em *ngIf="unsupported" class='has-error'> Enter Valid Text </em>
                </div>
                <div class="input-field col s12 m4">
                    <input autocomplete="off" [formControl]="uploadSong.controls['download_link']" id="download_link" type="text" class="validate form-link">
                    <label for="download_link" id='download_link_label' class='form-link-label'>Download URL</label>
                    <em *ngIf="unsupported" class='has-error'> Enter a valid link type </em>
                </div>
            </div>
            <div class='row'>
              <div class='text-box col s12'>
                <label for='link' id='song-description'>Description</label>
                <textarea [formControl]="uploadSong.controls['description']" class="validate discription-box" id='description-upload' type='text' data-type='upload'></textarea>
                <a style='font-size:0.9em' class='btn formatting-button' id='formatting-guide-upload' style='color:black !important' data-type='upload'>Formatting Guide</a>
                <div id='add-formatting-guide-upload' data-open='false'>
                </div>
              </div>
            </div>
          </form>
          <div id='output-container-upload' style='display:none'>
            <h5>Output:</h5>
            <div id='post-output-upload' style='border: 1px solid rgba(0,0,0,0.1);padding:3px'>
            </div>
          </div>
          <div class="row">
            <div class="center-align">
              <button type="submit" class="waves-effect waves-light btn" (tap)="cancelEdit()">Cancel</button>
              <button type="submit" id='submit-edit' [disabled]='!uploadSong.valid || !mainGenre || !uploadComplete || insubmit' class="waves-effect waves-light btn" (tap)="submitEdit(uploadSong.value,'upload')">Submit Edit</button>
               <svg class="spinner-circle" id='submit-music-edit-upload' viewBox="0 0 50 50">
                <circle class="path" cx="25" cy="25" r="20" fill="none" stroke-width="5"></circle>
              </svg>
            </div>
          </div>
        </div>
     </div>
</div>