<div style='text-align:center'><h4>Developers</h4></div>
<div class='row'>
    <div style='border:1px solid rgba(0,0,0,0.3);min-height:400px;float:left;width:20%;padding:5px'>
        <div><h5>Links:</h5></div>
        <hr>
        <div><a [routerLink]="['/developers','api']"><p>API</p></a></div>
        <div><a [routerLink]="['/developers','credits']"><p>Credits</p></a></div>
    </div>
    <div style='border-top:1px solid rgba(0,0,0,0.3);border-right:1px solid rgba(0,0,0,0.3);border-bottom:1px solid rgba(0,0,0,0.3);min-height:400px;float:left;width:80%;padding:5px'>
        <div><h5>News:</h5></div>
        <hr>
        <div>
            <p>All Developer News Will be found here.</p>
            <p>API will be released soon.</p>
        </div>
    </div>
</div>