<div style='border:1px solid rgba(0,0,0,0.3);padding:5px;border-radius:3px'>
    <h4 style='text-align:center'>Credits</h4>
    <hr>
    <div>
        <div style='margin-top:4px'> You know, the internet is a beautiful place. It's a place where nerds can be nerds, plebs can be plebs, and idiots can be idiots - and it's Amazing! </div>
        <div style='margin-top:4px'> A major reason for why this is, is due to the amazing people that contribute to open source.</div>
        <div style='margin-top:4px'> If you're reading this, then you know it, and I know it. Unfortunately, the majority of users who visit this site won't see this. You all are the backbone of the internet, and are the unsung heros.</div>
        <div style='margin-top:4px'> Or maybe I'm just stroking yalls ego so you keep creating shit, heh. </div>
        <div style='margin-top:4px'> Seriously though, here are many of the great things that went into this product. </div>
    </div>
    <div style='margin-top:10px'>
        <div style='font-size:0.9em;color:grey'><span style='font-weight:500;color:#333'>Disclaimer:</span> These projects, and their creators, do not endorse - nor do we endorse - any of the activities one another conducts. This is just mearly a gesture of gratitude.</div>
        <div style='font-size:0.9em;color:grey'>If you would like to have your item removed, or to remove the what I do, please contact us. We will change it immediately</div>
        <div style='font-size:0.9em;color:grey'>If I have forgot something, please let me know! I had to sell a comp and lost a harddrive while building this, so I lost a lot of notes.</div>
    </div>
    <hr>

    <div style='margin-top:15px'>
        <div>Angular</div>
        <div>What I Do: I made this ish. Whatch you want?</div>
        <div><a href="https://angular.io">Angular</a></div>
    </div>

    <div style='margin-top:15px'>
        <div>Check Out Progress</div>
        <div>What I Do: I created that dope looking progress bar in the checkout.</div>
        <div><a href="https://codepen.io/Sp00ky/pen/wGXQBb">Check Out Progress</a></div>
    </div>

    <div style='margin-top:15px'>
        <div>Cloud Zoom</div>
        <div>What I Do: I add a zoomy thingy to your product thingy.</div>
        <div><a href="https://cloudzoom.com">Cloud Zoom</a></div>
    </div>

    <div style='margin-top:15px'>
        <div>Credit Card</div>
        <div>What I Do: You that dank credit card on the checkout? Yeah, I made that.</div>
        <div><a href="https://codepen.io/supah/pen/OMdPpW">Credit Card</a></div>
    </div>

    <div style='margin-top:15px'>
        <div>Font Awesome</div>
        <div>What I Do: Need a dank icon? I gotch you.</div>
        <div><a href='https://fontawesome.com'>Font Awesome</a></div>
    </div>

    <div style='margin-top:15px'>
        <div>Grade JS</div>
        <div>What I Do: I add dope gradients to image containers. (This was actually moved to the backend, cool library none of the less)</div>
        <div><a href="http://benhowdle.im/grade/">Grade JS</a></div>
    </div>

    <div style='margin-top:15px'>
        <div>JS Media Tags</div>
        <div>What I Do: "How do I pull the image off a song? I just wanna be baller..."</div>
        <div><a href="https://">JS Media Tags</a></div>
    </div>

    <div style='margin-top:15px'>
        <div>Jquery Fileupload</div>
        <div>What I Do: Saved Way Dope's ass from having to use xml requests</div>
        <div><a href="">jQuery Fileupload</a></div>
    </div>

    <div style='margin-top:15px'>
        <div>Jquery</div>
        <div>What I Do: I added sweetness to the sour. I'm syntatic sugar.</div>
        <div><a href="https://jquery.com">jQuery</a></div>
    </div>

    <div style='margin-top:15px'>
        <div>Marked</div>
        <div>What I do: Getting everyone closer to learning HTML one day at a time.</div>
        <div><a href="https://markedjs.org">Marked</a></div>
    </div>

    <div style='margin-top:15px'>
        <div>Materialize</div>
        <div>What I Do: I make everything look amazing, and add interaction to all the shits. I am the css framework that made this site look amazing.</div>
        <div><a href="http://materializecss.com/">Materialize</a></div>
    </div>

    <div style='margin-top:15px'>
        <div>Open NSFW</div>
        <div>What I Do: I markith the photoith as NSFWith. </div>
        <div><a href="https://github.com/yahoo/open_nsfw">Open NSFW</a></div>
    </div>

    <div style='margin-top:15px'>
        <div>PostgreSQL</div>
        <div>What I do: I got that JSON, but better.</div>
        <div><a href="https://www.postgresql.org/">PostgreSQL</a></div>
    </div>

    <div style='margin-top:15px'>
        <div>Ruby on Rails</div>
        <div>What I do: Let's count the amount of sites I've built... We gonna need more fingers</div>
        <div><a href="http://rubyonrails.org/">Ruby On Rails</a></div>
    </div>

    <div style='margin-top:15px'>
        <div>Selectize</div>
        <div>What I Do: "How to make the Google search suggestion input..." "Oh nice"</div>
        <div><a href="https://selectize.github.io/selectize.js/">Selectize</a></div>
    </div>

    <div style='margin-top:15px'>
        <div>Wavesurfer:</div>
        <div>What I Do: I make the wave forms, equalizer, and shit for the song. I'm simply amazing.</div>
        <div><a href="https://wavesurfer-js.org/" target="_blank" rel="noopener">Wavesurfer</a></div>
    </div>

    <div style='margin-top:15px'>
        <div>Video JS</div>
        <div>What I Do: "Anyone else think this default HTML 5 player is ass?"</div>
        <div><a href="http://videojs.com">Video JS</a></div>
    </div>

</div>
