<div class='row col m12'>
    <h2 class='center'>Seller</h2>
    <div class='col m12'>
        <div class='col m3 center capitalize'>
            total sales: {{totalSalesCount}}
        </div>
        <div class='col m3 center capitalize'>
            total sold: {{totalSales}}
        </div>
        <div class='col m3 center capitalize'>
            total sub: {{totalSub}}
        </div>
        <div class='col m3 center capitalize'>
            total taxed: {{totalTax}}
        </div>
    </div>
</div>
<h4>Your Latest Sales:</h4>
<div *ngFor="let sale of sales">
    <div class='row'>
        <span>Date: {{sale.date}}</span>
    </div>
    <div class='row'>
        <span>{{sale.shipping_info.firstname}} just placed an order for {{sale.quantity}} <a [routerLink]="['/' + sale.type, sale.category, sale.sub_category,sale.product_url]">{{sale.product}}</a>
        for {{sale.total}} (product cost: {{sale.sub_total}} and shipping: {{sale.shipping}}).    
        </span>
    </div>
    <button class='btn' [routerLink]="['/seller', 'sales', sale.order_id,sale.product_id, sale.size, sale.color]">Get Info</button>
    <button class='btn' [routerLink]="['/seller', 'sales', sale.order_id,sale.product_id, sale.size, sale.color, 'update']">{{sale.confirmation===false? 'Send' : 'Update' }} Tracking Number</button>
    <hr>
</div>
<div *ngIf="pages >= 2" class='row col ps12 center pagination-container' style='position:relative;bottom:50px;'>
    <div class='pages-text'>Page {{currentPage}} of {{pages}}</div>
    <button (tap)="changePage('start',1)" *ngIf="pages > 2" [disabled]='currentPage == 1' class='btn btn-pagination' style='display:inline'><i class='fa fa-angle-double-left'></i></button>
    <button (tap)="changePage('back',curretPage - 1)" *ngIf="pages > 1" [disabled]='currentPage == 1' class='btn btn-pagination' style='display:inline'><i class='fa fa-angle-left'></i></button>
    <div *ngFor="let number of numbers;let i = index" style='display:inline'>
        <button (tap)="changePage('page',i+1)" [style.display]="pages < 6 || (currentPage < 4 && i < 5) || (pages - currentPage < 3 && pages - i < 6) || (currentPage - 4 < i && i < currentPage) || (i-2 < currentPage && currentPage < (i+1)) ? 'inline':'none'" class='btn btn-pagination' [ngClass]="{ 'active' : i + 1 == currentPage }"><div [style.margin-left.px]="math.floor(math.log10(i+1)) % 1 === 0 ? -1 - (5*math.floor(math.log10(i+1))) : 1">{{i + 1}}</div></button>
    </div>
    <button (tap)="changePage('next',curretPage + 1)" *ngIf="pages > 1" class='btn btn-pagination' [disabled]='currentPage == pages' style='display:inline'><i class='fa fa-angle-right'></i></button>
    <button (tap)="changePage('end',pages)" *ngIf="pages > 2" [disabled]='currentPage == pages' class='btn btn-pagination' style='display:inline'><i class='fa fa-angle-double-right'></i></button>
</div>
