<div>
	<div class="admin-list">
		<a [routerLink]="['/admin']">Home</a>
	</div>
	<div class="admin-list">
		<a [routerLink]="['/admin','messages']">Messages</a>
	</div>
	<div class="admin-list">
		<a [routerLink]="['/admin','applications']">Applications</a>
	</div>
	<div class="admin-list">
		<a [routerLink]="['/admin','users']">User List</a>
	</div>
	<div class="admin-list">
		<a [routerLink]="['/admin','partners']">Partner List</a>
	</div>
	<div class="admin-list">
		<a [routerLink]="['/admin','bots']">Bots List</a>
	</div>
	<div class='admin-list'>
		<a [routerLink]="['/admin','posts']">New Posts</a>
	</div>
	<div class='admin-list'>
		<a [routerLink]="['/admin','reports']">New Reports</a>
	</div>
	<div class='admin-list'>
		<a [routerLink]="['/admin','flags']">New Flags</a>
	</div>
	<div class="admin-list">
		<a [routerLink]="['/admin','news']">News List</a>
	</div>
	<div class="admin-list">
		<a [routerLink]="['/admin','music']">Music List</a>
	</div>
	<div class="admin-list">
		<a [routerLink]="['/admin','videos']">Video List</a>
	</div>
	<div class="admin-list">
		<a [routerLink]="['/admin','users']">Apparel List</a>
	</div>
	<div class="admin-list">
		<a [routerLink]="['/admin','users']">Technology List</a>
	</div>
</div>