<h1 class='home-links' [routerLink]="['/music']">Music</h1>
<div class="row">
    <div>
        <ul class="tabs" materialize="tabs">
            <li *ngFor="let name of names; let i = index" class="tab col ps4" id='tabs-home-music' (dblclick)="tabClick(name)">
                <a id='music-tab-link' href="#{{name}}-music" [ngClass]="{'active':i==0}">{{name}}</a>
            </li>
        </ul>
    </div>
</div>
<div id='tab-output-music-container' style='min-height:500px'>
    <div id='tab-output-music' class='row col ps12' style='opacity:0;transition:all 200ms'>
        <div *ngFor="let name of names; let i = index" id="{{name}}-music" class='home-music-container'>
            <div class='center pagination-container' id='boards-home-pagination-{{i}}' [attr.data-count]="count[i]" [attr.data-pages]="count[i] % 4" [attr.data-currentPage]="0">
                <div class='paginate-back-container' *ngIf="count[i] > 4 && currentPage[i] > 0"><i class='fa paginate-back' (tap)="paginate('back',i)" [ngClass]="window.outerWidth > 1089 ? 'fa-chevron-left' : 'fa-chevron-up'" style='text-align:center;font-size:2em;color:#ff6100;cursor:pointer'></i></div>           
            </div>
            <div *ngIf="loaded && songs && songs[i]" class='row'>
                <div class="col ps6 m3 home-music-post" *ngFor="let song of currentPosts[i]; let ic = index" id="{{name}}-music">
                    <div class="row music-title-info-container">
                        <div (mouseenter)="marqueeToggle(1,i,song.uuid)" (mouseleave)="marqueeToggle(0,i,song.uuid)" class='title link-title'>
                            <div class='col ps1' id='inner-link-span'>Title:</div><div class='col ps11' id='inner-link-title'><a id='music-home-title-link-{{i}}-{{song.uuid}}' [routerLink]="['/music',song.main_genre, song.url]">{{song.title}}</a></div>
                        </div>
                        <div class='artist'>
                            <div class="col ps1" id='inner-link-span'>Artist:</div><div class='col ps11 artist-inner' id='inner-link-title'><a style='color: #4c03db !important;cursor:pointer' (tap)="searchArtist(song.artist)">{{song.artist}}</a></div>
                        </div>
                        <div class='song-info' style='color:grey;font-size:0.7em;margin-left: 12px;float:left;white-space:nowrap'>
                                <div *ngIf="song.nsfw" style="display:inline;border:1px solid #ff4040;padding:2px;border-radius:2px;font-size:0.88em">NSFW</div>
                                Posted <span>{{song.time_ago}}</span>
                                by <a [routerLink]="['/user',song.submitted_by]">{{song.submitted_by}}</a>
                                in <a [routerLink]="['/music',song.main_genre]" class='capitalize'>{{song.main_genre}}</a>
                        </div>
                    </div>
                    <div *ngIf="!song.clicked" class='music-home-photo-container' (mouseenter)="photoHover(1,i,song.uuid)" (mouseleave)="photoHover(0,i,song.uuid)" (tap)="photoClicked(i,ic,song.uuid,name)">
                        <img class='play-button-home' id='play-button-home-{{i}}-{{song.uuid}}' style='opacity:0.8' src="/assets/images/blackbutton.svg" alt="Play Button">
                        <img *ngIf="song.form == 0 && song.link_artwork" style='opacity:0.6;cursor:pointer' id='music-artwork-home-{{i}}-{{song.uuid}}' src='{{song.link_artwork}}' height="100%" width="100%"/>
                        <img *ngIf="song.form == 1 && !song.nsfw && song.upload_artwork_url" style='opacity:0.6;cursor:pointer' id='music-artwork-home-{{i}}-{{song.uuid}}' [src]="song.upload_artwork_url | safeurl" height="100%" width="100%"/>
                        <img *ngIf="song.form == 1 && song.nsfw && song.upload_artwork_url_nsfw" style='opacity:0.6;cursor:pointer' id='music-artwork-home-{{i}}-{{song.uuid}}' [src]="song.upload_artwork_url_nsfw | safeurl" height="100%" width="100%"/>
                        <img *ngIf="(song.form == 0 && !song.link_artwork) || (song.form == 1 && !song.upload_artwork_url)" style='opacity:0.6;cursor:pointer' id='music-artwork-home-{{i}}-{{song.uuid}}' class='music-featured-artwork-default-container' src="/assets/images/background-music.png" height="100%" width="100%"/>
                    </div>
                    <div *ngIf="song.clicked && song.form == 0" class='music-home-frame-container' [innerHTML]="song.link | safe"></div>
                    <div *ngIf="song.clicked && song.form == 1" class='music-home-frame-container'>
                        <div class='music-home-photo-container gradient-wrap' style='cursor: initial;'>
                            <img src="{{song.nsfw ? song.upload_artwork_url_nsfw : song.upload_artwork_url}}" style='height: 100%;width: 100%;background-size: 100% 100%;background-repeat: no-repeat;opacity:0.350;'>
                            <a rel='nofollow' id="song-{{name}}-{{song.uuid}}-download-link" download="{{song.upload_url}}"><audio id='song-{{name}}-{{song.uuid}}' [src]="song.song && song.upload_url ? song.upload_url : null | safeurl" [attr.data-value]="0"></audio></a>
                            <button id="song-play-{{name}}-{{song.uuid}}" class='btn song-music-frame-button' (tap)="playAudio(song.uuid,song.upload_url,name)"><i class='fa fa-play' id='song-play-icon-{{name}}-{{song.uuid}}' style='opacity:1'></i></button>
                            <div id="song-waveform-{{name}}-{{song.uuid}}" class='song-music-frame' style='border-bottom:0;top:-104%'></div>
                            <div id='song-playing-time-{{name}}-{{song.uuid}}' style='height:0px;color:white;position:relative;top:-220px;font-size:0.9em;display:none'><span id='current-time-{{name}}-{{song.uuid}}'>0:00</span>/<span id='duration-{{name}}-{{song.uuid}}'></span></div>
                            <div id='song-{{name}}-{{song.uuid}}-actions' class='row col ps12 song-music-frame-actions' style='border-top:1px solid white;padding:0px'>
                                <div class='col ps4' style='padding:0px'>
                                    <div id='song-{{name}}-{{song.uuid}}-volumne' style='display:inline;position:relative;'><i class='fa fa-volume-up fa-song-actions'></i></div>
                                    <div id='song-{{name}}-{{song.uuid}}-volumn-range' style='margin-top:-35px'><p style='height: 3px;padding: 0px;margin: 0px; margin-left: 5px;' class='volume'><input (mousedown)="checkVolume(1,song.uuid,name)" (mouseup)="checkVolume(0,song.uuid,name)" (click)="checkVolume(0,song.uuid,name,true)" type="range" id="{{name}}-{{song.uuid}}-volume-range" min="0" max="100" style='width: 75%;left: 20px;top: -2px;' value="100" /></p></div>
                                </div>
                                <div class='col ps4' style='text-align:center'>
                                    <div id='song-{{name}}-{{song.uuid}}-repeat' style='display:inline;' class='repeat-icon' [attr.data-loop]="0" (tap)="loop(song.uuid,name)"><i class='fa fa-refresh fa-song-actions'></i></div>
                                </div>
                                <div class='col ps4' style='text-align:right;white-space:nowrap;padding:0px'>
                                    <div *ngIf="song.download === 1" id='song-{{name}}-{{song.uuid}}-download' style='display:inline;position:relative;cursor:pointer' (tap)="download(song.uuid,song.title,song.download)"><i class='fa fa-cloud-download fa-song-actions'></i></div>
                                    <div *ngIf="song.download === 2" id='song-{{name}}-{{song.uuid}}-download' style='display:inline;position:relative;top:-5px;' (tap)="download(song.uuid,song.title,song.download)"><a href='{{song.download_url}}' target="_blank" rel="noopener" style="font-size: 1rem;color: white !important;">{{song.download_text}}</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div></div>
                    <div class='row col ps12 music-info'>
                        <div class='col ps3' style='padding:0px'>
                            <div class='home-music-vote-actions-container' style='margin-top:-13px'>
                                <i [style.color]="song.user_voted === 1? '#ef6837' : 'black'" class='fa fa-chevron-up' id='songmusic-upvote-{{song.uuid}}' (tap)="setVote(1, song.uuid,'songmusic', song.average_vote, song.user_voted)" style='cursor:pointer'></i>
                                <div class='home-music-average-vote' id='songmusic-vote-{{song.uuid}}' [style.margin-left.px]="math.floor(math.log10(song.average_vote)) % 1 === 0 ? 4 - (4*math.floor(math.log10(song.average_vote))) : 4">{{song.average_vote}}</div>
                                <i [style.color]="song.user_voted === -1? '#ef6837' : 'black'" class='fa fa-chevron-down' id='songmusic-downvote-{{song.uuid}}' (tap)="setVote(-1, song.uuid,'songmusic', song.average_vote, song.user_voted)" style='position:absolute;cursor:pointer'></i>
                            </div>
                            <button (tap)="like(song.uuid, song.user_liked, song.post_type,song.likes_count,i,ic  )" [ngClass]="{ 'liked' : song.user_liked }" id='likes-button-{{song.uuid}}' class="btn btn-like">
                                <div class='row' style='margin-top:-5px;white-space: nowrap' [style.font-size.pct]="math.floor(math.log10(song.likes_count)) === 2 ? 0.95 : -1" [style.margin-left.px]="math.floor(math.log10(song.likes_count)) === 2 ? -17 : null">
                                    <i id='icon-likes-{{song.uuid}}' [ngClass]="{ 'liked-icon fa-heart' : song.user_liked, 'fa-heart-o' : !song.user_liked }" class="fa" style='float:left;width:100%' aria-hidden="true">
                                        <span class='btn-like-text' id='likes-{{song.uuid}}' style='font-size:0.9em;margin:4px;font-family: "Roboto", sans-serif;font-weight:500;color:#111' [style.margin-left.px]="math.floor(math.log10(song.likes_count)) === 2 ? -2 : 0">{{song.likes_count}}</span>
                                    </i>
                                </div>
                            </button>
                        </div>
                        <div class="col ps6 average-rating-container"><span class='average-rating'>Rating: [{{song.ratings_count}}]</span><div style='margin-left:8px;margin-top:-11px' class='star-ratings-css col ps10'><div [style.transform]="transformRating(song.average_rating)" class="inner-star-ratings-css" ></div></div><div class='col ps2' style='float:right;margin-top:-5px;white-space: nowrap;'>{{song.average_rating}}</div></div>
                        <div class='col ps3 comment-count-container'><i class="fa fa-comment-o comment-count-icon" aria-hidden="true"><span class='comment-count-span'>{{song.comment_count}}</span></i></div>
                    </div>
                </div>
            </div>
            <div class='center pagination-container' id='music-home-pagination-{{i}}' [attr.data-count]="count[i]" [attr.data-pages]="count[i] % 4" [attr.data-currentPage]="0">
                <div class='paginate-next-container' *ngIf="count[i] > 4 && ((currentPage[i]*4) + currentPosts[i].length) != count[i] "><i class='fa paginate-next' (tap)="paginate('next',i)" [ngClass]="window.outerWidth > 1080 ? 'fa-chevron-right' : 'fa-chevron-down'" style='text-align:center;font-size:2em;color:#ff6100;cursor:pointer'></i></div>           
            </div>
        </div>
    </div>
</div>
<hr>
