<h3 style='text-align:center'>Terms and Conditions</h3>
<div style='border:1px solid rgba(0,0,0,0.3);padding:10px;border-radius:2px'>
<div style='border-bottom:1px solid rgba(0,0,0,0.3)'>
    <div style='font-size:0.8em;margin-bottom:10px;text-align:right'>Last updated: 06/26/2017</div>
    <div style='margin-top:10px;margin-bottom:10px'>Please read these Terms and Conditions ("Terms", "Terms and Conditions") carefully before using
    the https://waydope.com, and related subdomains - (the "Service") - operated by Way Dope Inc. ("Way Dope", "us", "we", or "our").</div>
    <div style='margin-top:10px;margin-bottom:10px'>
    Your access to and use of the Service is conditioned on your acceptance of and compliance with
    these Terms. These Terms apply to all visitors, users, and others who access or use the Service.
    </div>
    <div style='margin-top:10px;margin-bottom:10px;font-weight:500;color:#111'>By accessing or using the Service you agree to be bound by these Terms. If you disagree
    with any part of the terms then you may not access the Service.</div>
</div>
<div style='font-size:1.2em;margin-top:10px;margin-bottom:10px'>PRIVACY</div>
<div>
    <div>Please review our <a [routerLink]="['/privacy']">Privacy Policy</a>, which also governs your visit to our website, to understand our practices.</div>
</div>
<div style='font-size:1.2em;margin-top:10px;margin-bottom:10px'>ELECTRONIC COMMUNICATIONS</div>
<div>
    <div>When you visit Way Dope or send e-mails to us, you are communicating with us electronically. You consent to receive communications from us electronically. We will communicate with you by e-mail, or by posting notices on this site, or sending you a message on the site (sent to the user's mailbox). </div>
    <div style='margin-top:5px'>You agree that all agreements, notices, disclosures and other communications that we provide to you electronically satisfy any legal requirement that such communications be in writing.</div>
</div>

<div style='font-size:1.2em;margin-top:10px;margin-bottom:10px'>COPYRIGHT</div>
<div>
    <div>All content included on this site, such as text, graphics, logos, button icons, images, audio clips, video clips, digital downloads, data compilations, and software, is the property of Way Dope or its content suppliers and protected by international copyright laws. </div>
    <div style='margin-top:5px'>The compilation of all content on this site is the exclusive property of Way Dope, with copyright authorship for this collection by Way Dope, and protected by international copyright laws.</div>
</div>
<div style='font-size:1.2em;margin-top:10px;margin-bottom:10px'>TRADE MARKS</div>
<div>
    <div> Way Dope's trademarks and trade dress may not be used in connection with any product or service that is not Way Dope's, in any manner that is likely to cause confusion among customers, or in any manner that disparages or discredits Way Dope.</div>
    <div style='margin-top:5px'> All other trademarks not owned by Way Dope or its subsidiaries that appear on this site are the property of their respective owners, who may or may not be affiliated with, connected to, or sponsored by Way Dope or its subsidiaries.</div>
</div>
<div style='font-size:1.2em;margin-top:10px;margin-bottom:10px'>LICENSE AND SITE ACCESS</div>
<div>
    <div>Way Dope grants you a limited license to access and make personal use of this site and not to download (other than page caching) or modify it, or any portion of it, except with express written consent of Way Dope. </div>
    <div style='margin-top:5px'>This license does not include any resale or commercial use of this site or its contents: any collection and use of any product listings, descriptions, or prices: any derivative use of this site or its contents: any downloading or copying of account information for the benefit of another merchant: or any use of data mining, robots, or similar data gathering and extraction tools. </div>
    <div style='margin-top:5px'>This site or any portion of this site may not be reproduced, duplicated, copied, sold, resold, visited, or otherwise exploited for any commercial purpose without express written consent of Way Dope. You may not frame or utilize framing techniques to enclose any trademark, logo, or other proprietary information (including images, text, page layout, or form) of Way Dope and our associates without express written consent. </div>
    <div style='margin-top:5px'>You may not use any meta tags or any other "hidden text" utilizing Way Dope's name or trademarks without the express written consent of Way Dope. Any unauthorized use terminates the permission or license granted by Way Dope. <div>
    <div style='margin-top:5px'>You are granted a limited, revocable, and nonexclusive right to create a hyperlink to the home page, and inner pages, of Way Dope so long as the link does not portray Way Dope, its associates, or their products or services in a false, misleading, derogatory, or otherwise offensive matter. </div>
    <div style='margin-top:5px'>You may not use any Way Dope's logo, trademark, or other proprietary graphic, as part of the link without express written permission.</div>
</div>
<div style='font-size:1.2em;margin-top:10px;margin-bottom:10px'>YOUR MEMBERSHIP ACCOUNT</div>
<div>
    <div>If you use this site, you are responsible for maintaining the confidentiality of your account and password and for restricting access to your computer, and you agree to accept responsibility for all activities that occur under your account or password. </div>
    <div style='margin-top:5px'>If you are under the age of 13, you are not permitted to use the Service.</div>
    <div style='margin-top:5px'>If you are under 18 years old, you may only use the Service if you have recevied approval from your parent or guardian.</div>
    <div style='margin-top:5px'>Way Dope, and its associates, reserve the right to refuse service - terminate, ban, or suspend accounts - remove or edit content - or cancel orders at their sole discretion.</div>
</div>
<div style='font-size:1.2em;margin-top:10px;margin-bottom:10px'>REVIEWS, COMMENTS, EMAILS, AND OTHER CONTENT</div>
<div>
    <div>Visitors may post reviews, comments, and other content: and submit suggestions, ideas, comments, questions, or other information, so long as the content is not illegal, obscene, threatening, defamatory, invasive of privacy, infringing of intellectual property rights, or otherwise injurious to third parties or objectionable. 
    <div style='margin-top:5px'>You may not use a false e-mail address, impersonate any person or entity, or otherwise mislead as to the origin of a card or other content. </div>
    <div style='margin-top:5px'>Way Dope reserves the right (but not the obligation) to remove or edit such content, but does not regularly review posted content. </div>
    <div style='margin-top:5px'>If you do post content or submit material, and unless we indicate otherwise, you grant Way Dope and its associates a nonexclusive, royalty-free, perpetual, irrevocable, and fully sublicensable right to use, reproduce, modify, adapt, publish, translate, create derivative works from, distribute, and display such content throughout the world in any media. </div>
    <div style='margin-top:5px'>You grant Way Dope and its associates and sublicensees the right to use the name that you submit in connection with such content, if they choose. </div>
    <div style='margin-top:5px'>You represent and warrant that you own or otherwise control all of the rights to the content that you post: that the content is accurate: that use of the content you supply does not violate this policy and will not cause injury to any person or entity: and that you will indemnify Way Dope or its associates for all claims resulting from content you supply.</div>
    <div style='margin-top:5px'>Way Dope has the right but not the obligation to monitor and edit or remove any activity or content. </div>
    <div style='margin-top:5px'>Way Dope takes no responsibility and assumes no liability for any content posted by you or any third party.</div>
</div>
<div style='font-size:1.2em;margin-top:10px;margin-bottom:10px'>RISK OF LOSS</div>
<div>
    <div>All items purchased from Way Dope are made pursuant to a shipment contract. 
    <div style='margin-top:5px'>This basically means that the risk of loss and title for such items pass to you upon our, or our sellers, delivery to the carrier.</div>
</div>
<div style='font-size:1.2em;margin-top:10px;margin-bottom:10px'>STRIPE SERVICES AGREEMENT</div>
    <div>Payment processing services for sellers on Way Dope are provided by Stripe and are subject to the <a href="https://stripe.com/us/connect-account/legal" target="_blank" rel="noopener noreferrer">Stripe Connected Account Agreement</a>, which includes the <a href="https://stripe.com/us/legal" rel="noopener noreferer">Stripe Terms of Service</a> (collectively, the “Stripe Services Agreement”). </div>
    <div style='margin-top:5px'>By agreeing to these terms or continuing to operate as a seller on Way Dope, you agree to be bound by the Stripe Services Agreement, as the same may be modified by Stripe from time to time.</div> 
    <div style='margin-top:5px'>As a condition of Way Dope enabling payment processing services through Stripe, you agree to provide Way Dope accurate and complete information about you and your business, and you authorize Way Dope to share it and transaction information related to your use of the payment processing services provided by Stripe.</div>
</div>
<div style='font-size:1.2em;margin-top:10px;margin-bottom:10px'>PRODUCT DESCRIPTIONS</div>
<div>
    <div>Way Dope and its associates attempt to be as accurate as possible. </div>
    <div style='margin-top:5px'>However, Way Dope does not warrant that product descriptions or other content of this site is accurate, complete, reliable, current, or error-free.</div>
    <div style='margin-top:5px'> If a product offered by Way Dope itself is not as described, your sole remedy is to return it in unused condition. </div>
</div>
<div style='font-size:1.2em;margin-top:10px;margin-bottom:10px'>DISCLAIMER OF WARRANTIES AND LIMITATION OF LIABILITY</div>
<div>
    <div style='margin-top:5px'>THIS SITE IS PROVIDED BY WAY DOPE ON AN "AS IS" AND "AS AVAILABLE" BASIS. </div>
    <div style='margin-top:5px'>WAY DOPE MAKES NO REPRESENTATIONS OR WARRANTIES OF ANY KIND, EXPRESS OR IMPLIED, AS TO THE OPERATION OF THIS SITE OR THE INFORMATION, CONTENT, MATERIALS, OR PRODUCTS INCLUDED ON THIS SITE. </div>
    <div style='margin-top:5px'>YOU EXPRESSLY AGREE THAT YOUR USE OF THIS SITE IS AT YOUR SOLE RISK. </div>
    <div style='margin-top:5px'>TO THE FULL EXTENT PERMISSIBLE BY APPLICABLE LAW, WAY DOPE DISCLAIMS ALL WARRANTIES, EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED TO, IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE. </div>
    <div style='margin-top:5px'>WAY DOPE DOES NOT WARRANT THAT THIS SITE, ITS SERVERS, OR E-MAIL SENT FROM WAY DOPE ARE FREE OF VIRUSES OR OTHER HARMFUL COMPONENTS. </div>
    <div style='margin-top:5px'>WAY DOPE WILL NOT BE LIABLE FOR ANY DAMAGES OF ANY KIND ARISING FROM THE USE OF THIS SITE, INCLUDING, BUT NOT LIMITED TO, DIRECT, INDIRECT, INCIDENTAL, PUNITIVE, AND CONSEQUENTIAL DAMAGES. </div>
    <div style='margin-top:5px'>CERTAIN STATE LAWS DO NOT ALLOW LIMITATIONS ON IMPLIED WARRANTIES OR THE EXCLUSION OR LIMITATION OF CERTAIN DAMAGES. IF THESE LAWS APPLY TO YOU, SOME OR ALL OF THE ABOVE DISCLAIMERS, EXCLUSIONS, OR LIMITATIONS MAY NOT APPLY TO YOU, AND YOU MIGHT HAVE ADDITIONAL RIGHTS. </div>
</div>
<div style='font-size:1.2em;margin-top:10px;margin-bottom:10px'>APPLICABLE LAW</div>
<div>
    <div>By visiting Way Dope, you agree that the laws of the state of Colorado, United States, without regard to principles of conflict of laws, will govern these Conditions of Use and any dispute of any sort that might arise between you and Way Dope or its associates.</div>
</div>
<div style='font-size:1.2em;margin-top:10px;margin-bottom:10px'>DISPUTES</div>
<div>
    <div>Any dispute relating in any way to your visit to Way Dope or to products you purchase through Way Dope, shall be submitted to confidential arbitration in Colorado, United States, except that, to the extent you have in any manner violated or threatened to violate Way Dope's intellectual property rights, Way Dope may seek injunctive or other appropriate relief in any state or federal court in the state of Colorado, United States, and you consent to exclusive jurisdiction and venue in such courts. </div>
    <div style='margin-top:5px'>Arbitration under this agreement shall be conducted under the rules then prevailing of the American Arbitration Association. The arbitrators award shall be binding and may be entered as a judgment in any court of competent jurisdiction. To the fullest extent permitted by applicable law, no arbitration under this Agreement shall be joined to an arbitration involving any other party subject to this Agreement, whether through class arbitration proceedings or otherwise. </div>
    <div style='margin-top:5px'>Please review our other policies, such as our Shipping and Returns policy, posted on this site. These policies also govern your visit to Way Dope. We reserve the right to make changes to our site, policies, and these Conditions of Use at any time. If any of these conditions shall be deemed invalid, void, or for any reason unenforceable, that condition shall be deemed severable and shall not affect the validity and enforceability of any remaining condition.</div>
</div>
<div style='font-size:1.2em;margin-top:10px;margin-bottom:10px'>QUESTIONS:</div>
<div>
    <div>Questions regarding our Conditions of Usage, Privacy Policy, or other policy related material can be directed to our support staff by clicking on the "Contact Us" link in the side menu.</div>
    <div style='margin-top:5px'>Or you can email us at: <a (tap)="sendEmail()" style='cursor:pointer'>info@waydope.com</a></div>
</div>
</div>
