<h3 class='center'>Admin</h3>
<div id='admin-main-content' style='opacity:0;transition:all 0.7s'>
    <hr>
    <div class='col ps12'>
        <h4 class='center'>Users:</h4>
        <h5>Total User Count: {{total_users}}</h5>
        <h5>Total Human Count: {{total_humans}}</h5>
        <h5>Total Bot Count: {{total_bots}}</h5>
        <h5>Logged In Count: {{logged_in}}</h5>
        <h5>Total Admin Users: {{total_admins}}</h5>
        <h5>Total Banned Users: {{total_banned}}</h5>
    </div>
    
    <hr>
    <div class='col ps12'>
        <h4 class='center'>Flags:</h4>
        <h5>News: {{news_flags}}</h5>
        <h5>Music: {{music_flags}}</h5>
        <h5>Videos: {{video_flags}}</h5>
        <h5>Apparel: {{apparel_flags}}</h5>
        <h5>Technology: {{technology_flags}}</h5>
    </div>

    <hr>
    <div class='col ps12'>
        <h4 class='center'>Reports:</h4>
        <h5>Comments: {{comment_reports}}</h5>
        <h5>News: {{news_reports}}</h5>
        <h5>Songs: {{song_reports}}</h5>
        <h5>Videos: {{video_reports}}</h5>
        <h5>Apparel: {{apparel_reports}}</h5>
        <h5>Technology: {{technology_reports}}</h5>
    </div>

    <hr>
    <div class='col ps12'>
        <h4 class='center'>New Posts:</h4>
        <h5>Comments: {{new_comments}}</h5>
        <h5>News: {{new_news}}</h5>
        <h5>Songs: {{new_songs}}</h5>
        <h5>Videos: {{new_videos}}</h5>
        <h5>Apparel: {{new_apparel}}</h5>
        <h5>Technology: {{new_technology}}</h5>
    </div>

    <hr>
    <div class='col ps12'>
        <h4 class='center'>Totals:</h4>
        <h5>Comments: {{total_comments}}</h5>
        <h5>News: {{total_news}}</h5>
        <h5>Songs: {{total_songs}}</h5>
        <h5>Videos: {{total_videos}}</h5>
        <h5>Apparel: {{total_apparel}}</h5>
        <h5>Technology: {{total_technology}}</h5>
    </div>
    <!--<hr>
    <h5 class='center'>News Post</h5>
    <h5>Total News Posts: {{total_news_posts}}</h5>
    <h5>Total Business Posts: {{total_business}}</h5>
    <h5>Total Science Posts: {{total_science}}</h5>
    <h5>Total Technology Posts: {{total_technology}}</h5>
    <h5>Total Sports Posts: {{total_sports}}</h5>
    <hr>
    <h5 class='center'>Music Posts</h5>
    <h5>Totoal Music Posts: {{total_songs}}</h5>
    <h5>Total Electronic Posts: {{total_electronic}}</h5>
    <h5>Total HipHop Posts: {{total_hiphop}}</h5>
    <h5>Total House Posts: {{total_house}}</h5>
    <h5>Total Trap Posts: {{total_trap}}</h5>
    <hr>
    <h5 class='center'>Video Posts</h5>
    <h5>Total Video Posts: {{total_videos}}</h5>
    <h5>Total Feelgood Posts: {{total_ohshit}}</h5>
    <h5>Total Funny Posts: {{total_funny}}</h5>
    <h5>Total OhShit Posts: {{total_feelgood}}</h5>
    <hr>-->
    <!--<h5 class='center'>Apparel Posts</h5>
    <hr>
    <h5 class='center'>Technology Posts</h5>-->
    <!--<hr>-->
<div>