<h4>Video list</h4>
<hr>
<div class='row col s12'>
	<div class='col s1'>
		Id
	</div>
	<div class='col s2'>
		Title
	</div>
	<div class='col s2'>
		Category
	</div>
	<div class='col s2'>
		Link
	</div>
	<div class='col s2'>
		Description
	</div>
	<div class='col s1'>
		Submitted By
	</div>
	<div class='col s1'>
		Likes
	</div>
	<div class='col s1'>
		Actions
	</div>
</div>
<div class='row col s12'>
	<div *ngFor="let video of videos; let i = index" id="video-{{video.id}}" style="overflow:hidden">
		<div class='col s1'>
			{{video.id}}
		</div>
		<div class='col s2'>
			{{video.title}}
		</div>
		<div class='col s2'>
			{{video.category}} 
		</div>
		<div class='col s2' style="overflow:hidden">
			{{video.link}} 
		</div>
		<div class='col s2' style="overflow:hidden">
			{{video.description}}
		</div>
		<div class='col s1' id="good-standing-text-{{video.id}}" style="overflow:hidden">
			{{video.submitted_by}}
		</div>
		<div class='col s1'>
		 Likes
		</div>
		<div class='col s1'>
		 <a [routerLink]="['/admin','videos',video.id]" style='cursor:pointer'>Edit</a>
		</div>
	</div>
</div>