<div class='row' style='margin-top:40px;'>
	<h2 class='username' style='font-size:2.5em !important' [routerLink]="['/user', user]"><a style='cursor:pointer;color: rgba(23, 56, 231, 0.92) !important;'>{{user}}</a></h2>
</div>
<div class='rest-technology-divider'>
    <hr>
    <div class='technology-category-sorting row'>
        <div class='col m1' style='margin-top:19px'><h5>Sort:</h5>
        </div>
        <form [formGroup]="sortApparel" (ngSubmit)="getSorting(sortApparel.value)" class="col m9">
            <div class='col m4 sort'> 
                <label for="options">Order</label>
                <select (change)="onOptionsChange($event.target.value)" id="options" required [formControl]="sortApparel.controls['options']" style='display:block'>
                    <option *ngFor="let option of options" [value]="option">{{option}}</option>
                </select>
            </div>
            <div class='col m4 sort'>
                <label for="time">Time</label>
                <select id="time" required [formControl]="sortApparel.controls['time']" style='display:block'>
                    <option *ngFor="let times of timings" [value]="times">{{times}}</option>
                </select>
            </div> 
            <div class='col m4 sort'>
                <label for="type">Type</label>
                <select id="type" required [formControl]="sortApparel.controls['type']" style='display:block'>
                    <option *ngFor="let type of types; let i = index" [value]="typeValues[i]">{{type}}</option>
                </select>
            </div>
        </form>
        <div class='col m2'>
            <button style='margin-top:25px' type="submit" [disabled]='!sortApparel.valid || apparel.length < 2' class="waves-effect waves-light btn" (tap)="getSorting(sortApparel.value)">Sort Posts</button>
        </div>
    </div>
    <hr>
</div>
<div *ngIf="loaded" class="row" id='apparel-posts-container' style='display:none'>
	<div *ngIf="apparel && apparel.length" class='row col m12'>
		<div class="col m3 ps6 apparel-content-container" *ngFor="let post of apparel; let ic = index" id="{{ic}}-apparel">
			<div class='technology-info'>
				<div id='' class='col ps9' style='padding:0px !important'>
					<div class='link-title' (mouseenter)="marqueeToggle(1,post.uuid)" (mouseleave)="marqueeToggle(0,post.uuid)"><a id='apparel-title-link-{{post.uuid}}' [routerLink]="['/apparel', post.main_category, post.sub_category, post.url]">{{post.title}}</a></div>
					<div>{{post.creator}}</div>
				</div>
				<div class='col ps3'>
					<div>{{post.sale_price ? post.sale_price : post.price}}</div>
				</div>
				<div class='col ps12 apparel-info' style='color:grey;font-size:0.7em;margin-left:0px !important;margin-top:0px'>
					<div *ngIf="post.nsfw" style="display:inline;border:1px solid #ff4040;padding:2px;border-radius:2px;font-size:0.88em">NSFW</div>
					Posted by <a [routerLink]="['/user',post.submitted_by]">{{post.submitted_by}}</a>
					in <a [routerLink]="['/apparel',post.main_category]" class='capitalize'>{{post.main_category}}</a> - <a [routerLink]="['/apparel',post.main_category, post.sub_category]" class='capitalize'>{{post.sub_category}}</a> 
				</div>
			</div>
			<div id='profile-apparel-images-container-{{ic}}'>
				<div *ngIf="!post.nsfw" id='profile-apparel-sfw-container-{{ic}}'>
					<div *ngIf="post.upload_urls.length" class='main-image col ps12' id='main-photo-apparel-container-{{ic}}' style='text-align:center;margin-top:10px;height:100%;width:100%'>
						<img id='main-photo-apparel-{{ic}}' class="cloudzoom" (mouseenter)="photoZoom(ic)" src='{{post.upload_urls[0]}}' height="100%" width="100%" style='cursor:zoom-in;margin:auto'/>
					</div>
					<div class='all-images col ps12' style='margin-bottom:10px;min-height: 71px;'>
						<div class='col ps3' *ngFor="let photo of post.upload_urls; let ip = index" style='cursor:pointer;margin-top:10px' id>
								<img id='rest-photos-apparel-{{ic}}-{{ip}}' class='rest-photos rest-photos-{{ic}}' (tap)="changePhoto(ic,ip)" src='{{photo}}' [ngClass]="{ 'active-photo' : ip === 0 }" height="100%" width="100%" style='margin:auto'/>
						</div>
					</div>
				</div>
				<div *ngIf="post.nsfw" id='profile-apparel-nsfw-container-{{ic}}'>
					<div *ngIf="post.upload_urls_nsfw.length" class='main-image col ps12' id='main-photo-apparel-container-{{ic}}' style='text-align:center;margin-top:10px;height:100%;width:100%'>
						<img id='main-photo-apparel-{{ic}}' class="cloudzoom" (mouseenter)="photoZoom(ic)" src='{{post.upload_urls_nsfw[0]}}' height="100%" width="100%" style='cursor:zoom-in;margin:auto'/>
					</div>
					<div class='all-images col ps12' style='margin-bottom:10px;min-height: 71px;'>
						<div class='col ps3' *ngFor="let photo of post.upload_urls_nsfw; let ip = index" style='cursor:pointer;margin-top:10px' id>
								<img id='rest-photos-apparel-{{ic}}-{{ip}}' class='rest-photos rest-photos-{{ic}}' (tap)="changePhoto(ic,ip)" src='{{photo}}' [ngClass]="{ 'active-photo' : ip === 0 }" height="100%" width="100%" style='margin:auto'/>
						</div>
					</div>
				</div>
			</div>
			<div class='row col ps12 apparel-info' style='margin-top:-10px'>
				<div class='col ps3' style='padding:0px'>
					<div class='home-music-vote-actions-container' style='margin-top:-13px'>
						<i [style.color]="post.user_voted === 1? '#ef6837' : 'black'" class='fa fa-chevron-up' id='apparel-upvote-{{post.uuid}}' (tap)="setVote(1, post.uuid,'apparel', post.average_vote , post.user_voted)" style='cursor:pointer'></i>
						<div class='home-music-average-vote' id='apparel-vote-{{post.uuid}}' [style.margin-left.px]="math.floor(math.log10(post.average_vote)) % 1 === 0 ? 4 - (4*math.floor(math.log10(post.average_vote))) : 4">{{post.average_vote}}</div>
						<i [style.color]="post.user_voted === -1? '#ef6837' : 'black'" class='fa fa-chevron-down' id='apparel-downvote-{{post.uuid}}' (tap)="setVote(-1, post.uuid,'apparel', post.average_vote ,post.user_voted)" style='position:absolute;cursor:pointer'></i>
					</div>
					<button (tap)="like(post.uuid, post.user_liked, post.post_type,post.likes_count,ic  )" [ngClass]="{ 'liked' : post.user_liked }" id='likes-button-{{post.uuid}}' class="btn btn-like">
						<div class='row' style='margin-top:-5px;white-space: nowrap' [style.font-size.pct]="math.floor(math.log10(post.likes_count)) === 2 ? 0.95 : -1" [style.margin-left.px]="math.floor(math.log10(post.likes_count)) === 2 ? -17 : null">
							<i id='icon-likes-{{post.uuid}}' [ngClass]="{ 'liked-icon fa-heart' : post.user_liked, 'fa-heart-o' : !post.user_liked }" class="fa" style='float:left;width:100%' aria-hidden="true">
								<span class='btn-like-text' id='likes-{{post.uuid}}' style='font-size:0.9em;margin:4px;font-family: "Roboto", sans-serif;font-weight:500;color:#111' [style.margin-left.px]="math.floor(math.log10(post.likes_count)) === 2 ? -2 : 0">{{post.likes_count}}</span>
							</i>
						</div>
					</button>
				</div>
				<div class="col ps6 average-rating-container"><span class='average-rating'>Rating: [{{post.ratings_count}}]</span><div style='margin-left:8px;margin-top:-11px' class='star-ratings-css col ps10'><div [style.transform]="transformRating(post.average_rating)" class="inner-star-ratings-css" ></div></div><div class='col ps2' style='float:right;margin-top:-5px;white-space: nowrap;'>{{post.average_rating}}</div></div>
				<div class='col ps3 comment-count-container'><i class="fa fa-comment-o comment-count-icon" aria-hidden="true"><span class='comment-count-span'>{{post.comment_count}}</span></i></div>
			</div>
		</div>
	</div>
    <div *ngIf="!apparel || !apparel.length">
        <span>{{user}} hasn't liked any apparel products yet</span>
    </div>
</div>
<div *ngIf="pages >= 2" class='row col ps12 center pagination-container' style='position:relative;bottom:50px;'>
    <div class='pages-text'>Page {{currentPage}} of {{pages}}</div>
    <button (tap)="changePage('start',1)" *ngIf="pages > 2" [disabled]='currentPage == 1' class='btn btn-pagination' style='display:inline'><i class='fa fa-angle-double-left'></i></button>
    <button (tap)="changePage('back',currentPage - 1)" *ngIf="pages > 1" [disabled]='currentPage == 1' class='btn btn-pagination' style='display:inline'><i class='fa fa-angle-left'></i></button>
    <div *ngFor="let number of numbers;let i = index" style='display:inline'>
        <button (tap)="changePage('page',i+1)" [style.display]="pages < 6 || (currentPage < 4 && i < 5) || (pages - currentPage < 3 && pages - i < 6) || (currentPage - 4 < i && i < currentPage) || (i-2 < currentPage && currentPage < (i+1)) ? 'inline':'none'" class='btn btn-pagination' [ngClass]="{ 'active' : i + 1 == currentPage }">
			<div [style.margin-left.px]="math.floor(math.log10(i+1)) % 1 === 0 ? -1 - (5*math.floor(math.log10(i+1))) : 1">{{i + 1}}</div>
		</button>
    </div>
    <button (tap)="changePage('next',currentPage + 1)" *ngIf="pages > 1" class='btn btn-pagination' [disabled]='currentPage == pages' style='display:inline'><i class='fa fa-angle-right'></i></button>
    <button (tap)="changePage('end',pages)" *ngIf="pages > 2" [disabled]='currentPage == pages' class='btn btn-pagination' style='display:inline'><i class='fa fa-angle-double-right'></i></button>
</div>
<div id='loading-spinner-apparel-profile'>
	<h4 class='center'>Loading Products...</h4>
	<div class="spinner">
		<div class="rect1"></div>
		<div class="rect2"></div>
		<div class="rect3"></div>
		<div class="rect4"></div>
		<div class="rect5"></div>
    </div>
<div>