<h4 style='text-align: center'>Reset Password</h4>
<div class="row reset-container" style='margin: auto'>
    <form [formGroup]="resetForm" class="col s12">
        <div class='row'>
            <div class="input-field col s12 m8 offset-m2">
                <input [ngClass]="{ 'has-error-input' : ((resetForm.errors?.areEqual && resetForm.controls.confirmPassword.dirty && resetForm.controls.confirmPassword.touched) || (resetForm.controls.password.errors?.required && resetForm.controls.password.touched))  }" formControlName="password" id="password" type="password" class="validate">
                <label for="password">Password</label>
                <em class='has-error' *ngIf="(resetForm.controls.password.errors?.required && resetForm.controls.password.touched)"> Required </em>
                <em class='has-error' *ngIf="(resetForm.controls.password.errors?.minlength && resetForm.controls.password.touched && resetForm.controls.password.dirty)"> Needs to be atleast 6 characters </em>
                <em class='has-error' *ngIf="(resetForm.controls.password.errors?.pattern && resetForm.controls.password.touched && resetForm.controls.password.dirty)"> Can only use letters, numbers, and special characters. </em>
            </div>
            <div class="input-field col s12 m8 offset-m2">
                <input [ngClass]="{ 'has-error-input' : (resetForm.controls.confirmPassword.errors ||  (resetForm.errors?.areEqual && resetForm.controls.confirmPassword.dirty))  && resetForm.controls.confirmPassword.touched}" formControlName="confirmPassword" id="password" type="password" class="validate">
                <label for="confirmPassword">Confirm Password</label>
                <em class='has-error' *ngIf="(resetForm.controls.confirmPassword.errors?.required && resetForm.controls.confirmPassword.touched)"> Required </em>
                <em class='has-error' *ngIf="resetForm.errors?.areEqual && resetForm.controls.confirmPassword.touched && resetForm.controls.confirmPassword"> Password Must Match </em>
            </div>
        </div>
    </form>
     <div class="row">
        <div class="center-align">
            <button type="submit" [disabled]='!resetForm.valid || submitted' class="waves-effect waves-light btn" (tap)="submitReset(resetForm.value)">Reset Password</button>
            <svg class="spinner-circle" id='submit-reset-password' viewBox="0 0 50 50">
                <circle class="path" cx="25" cy="25" r="20" fill="none" stroke-width="5"></circle>
            </svg>
        </div>
    </div>
</div>