<h3 style='text-align:center'>About</h3>
<div style='border:1px solid rgba(0,0,0,0.3);border-radius:2px;padding:10px;'>
    <div>
        <div style='padding-top:10px'>Let's be honest, what the fuck actually goes in this area?</div>
        <div style='padding-top:10px'>I honestly don't think anyone really knows, but let's take a stab at this.</div>
        <h5>What's Way Dope?</h5>
        <div style='padding-top:10px'>That's a damn good question. Way Dope is a place where anonymous users can come together to share, callaborate, and overall, just not give a fuck.</div>
        <div style='padding-top:10px'>Just like this about page.</div>
        <h5>Origin</h5>
        <div style='padding-top:10px'>Created in July of 2016, with the vision of bringing people the latest in entertainment and merchandise.</div>
    </div>

</div>